.MLIitem{
    display: flex;
    margin: 3px;
    padding: 3px;
    /* border: 2px solid yellow; */
}

.MLIitem a:hover{
    background-color: red;
}

.MLIulist{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid orange; */
}